*{
    padding: 0;
    margin: 0;
}
.error{
    color: red;
}
.container{
    /* background-color: aqua; */
    /* width: 300px; */
    margin-left: 600px;
    margin-top: 50px;
}
input{
    margin-top: 20px;
}
textarea{
    margin-top: 20px;
}
#age{
    margin-left: 20px;
    margin-top: 20px;
}
#submit{
    margin-left: 50px;
    margin-top: 20px;
    padding-inline: 20px;
}
#name{
    margin-left: 15px;
}
#date{
    margin-left: 15px;
}
